CURRENT_TERM=1
VOTED_FOR=1
NUM_SERVERS=5
NUM_SERVERS=3
CURRENT_TERM=2
VOTED_FOR=1
CURRENT_TERM=3
VOTED_FOR=1
CURRENT_TERM=4
VOTED_FOR=1
CURRENT_TERM=5
VOTED_FOR=1
CURRENT_TERM=6
VOTED_FOR=1
CURRENT_TERM=7
VOTED_FOR=1
CURRENT_TERM=8
VOTED_FOR=1
CURRENT_TERM=9
VOTED_FOR=1
CURRENT_TERM=10
VOTED_FOR=1
CURRENT_TERM=11
VOTED_FOR=1
CURRENT_TERM=12
VOTED_FOR=1
CURRENT_TERM=13
VOTED_FOR=1
CURRENT_TERM=14
VOTED_FOR=1
CURRENT_TERM=15
VOTED_FOR=1
CURRENT_TERM=16
VOTED_FOR=1
CURRENT_TERM=17
VOTED_FOR=1
CURRENT_TERM=18
VOTED_FOR=1
CURRENT_TERM=19
VOTED_FOR=1
CURRENT_TERM=20
VOTED_FOR=1
CURRENT_TERM=21
VOTED_FOR=1
CURRENT_TERM=22
VOTED_FOR=1
CURRENT_TERM=23
VOTED_FOR=1
CURRENT_TERM=24
VOTED_FOR=1
CURRENT_TERM=25
VOTED_FOR=1
CURRENT_TERM=26
VOTED_FOR=1
CURRENT_TERM=27
VOTED_FOR=1
CURRENT_TERM=28
VOTED_FOR=1
CURRENT_TERM=29
VOTED_FOR=1
CURRENT_TERM=30
VOTED_FOR=1
CURRENT_TERM=31
VOTED_FOR=1
CURRENT_TERM=32
VOTED_FOR=1
CURRENT_TERM=33
VOTED_FOR=1
CURRENT_TERM=34
VOTED_FOR=1
CURRENT_TERM=35
VOTED_FOR=1
CURRENT_TERM=36
VOTED_FOR=1
CURRENT_TERM=37
VOTED_FOR=1
CURRENT_TERM=38
VOTED_FOR=1
CURRENT_TERM=39
VOTED_FOR=1
CURRENT_TERM=40
VOTED_FOR=1
CURRENT_TERM=41
VOTED_FOR=1
CURRENT_TERM=42
VOTED_FOR=1
CURRENT_TERM=43
VOTED_FOR=1
CURRENT_TERM=44
VOTED_FOR=1
CURRENT_TERM=45
VOTED_FOR=1
CURRENT_TERM=46
VOTED_FOR=1
CURRENT_TERM=47
VOTED_FOR=1
CURRENT_TERM=48
VOTED_FOR=1
CURRENT_TERM=49
VOTED_FOR=1
CURRENT_TERM=50
VOTED_FOR=1
CURRENT_TERM=51
VOTED_FOR=1
CURRENT_TERM=52
VOTED_FOR=1
CURRENT_TERM=53
VOTED_FOR=1
CURRENT_TERM=54
VOTED_FOR=1
CURRENT_TERM=55
VOTED_FOR=1
CURRENT_TERM=56
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=57
VOTED_FOR=1
CURRENT_TERM=58
VOTED_FOR=1
CURRENT_TERM=59
VOTED_FOR=1
CURRENT_TERM=60
VOTED_FOR=1
CURRENT_TERM=61
VOTED_FOR=1
CURRENT_TERM=62
VOTED_FOR=1
CURRENT_TERM=63
VOTED_FOR=1
CURRENT_TERM=64
VOTED_FOR=1
CURRENT_TERM=65
VOTED_FOR=1
CURRENT_TERM=66
VOTED_FOR=1
CURRENT_TERM=67
VOTED_FOR=1
CURRENT_TERM=68
VOTED_FOR=1
CURRENT_TERM=69
VOTED_FOR=1
CURRENT_TERM=70
VOTED_FOR=1
CURRENT_TERM=71
VOTED_FOR=1
CURRENT_TERM=72
VOTED_FOR=1
CURRENT_TERM=73
VOTED_FOR=1
CURRENT_TERM=74
VOTED_FOR=1
CURRENT_TERM=75
VOTED_FOR=1
CURRENT_TERM=76
VOTED_FOR=1
CURRENT_TERM=77
VOTED_FOR=1
CURRENT_TERM=78
VOTED_FOR=1
CURRENT_TERM=79
VOTED_FOR=1
CURRENT_TERM=80
VOTED_FOR=1
CURRENT_TERM=81
VOTED_FOR=1
CURRENT_TERM=82
VOTED_FOR=1
CURRENT_TERM=83
VOTED_FOR=1
CURRENT_TERM=84
VOTED_FOR=1
CURRENT_TERM=85
VOTED_FOR=1
CURRENT_TERM=86
VOTED_FOR=1
CURRENT_TERM=87
VOTED_FOR=1
CURRENT_TERM=88
VOTED_FOR=1
CURRENT_TERM=89
VOTED_FOR=1
CURRENT_TERM=90
VOTED_FOR=1
CURRENT_TERM=91
VOTED_FOR=1
CURRENT_TERM=92
VOTED_FOR=1
CURRENT_TERM=93
VOTED_FOR=1
CURRENT_TERM=94
VOTED_FOR=1
CURRENT_TERM=95
VOTED_FOR=1
CURRENT_TERM=96
VOTED_FOR=1
CURRENT_TERM=97
VOTED_FOR=1
CURRENT_TERM=98
VOTED_FOR=1
CURRENT_TERM=99
VOTED_FOR=1
CURRENT_TERM=100
VOTED_FOR=1
CURRENT_TERM=101
VOTED_FOR=1
CURRENT_TERM=102
VOTED_FOR=1
CURRENT_TERM=103
VOTED_FOR=1
CURRENT_TERM=104
VOTED_FOR=1
CURRENT_TERM=105
VOTED_FOR=1
CURRENT_TERM=106
VOTED_FOR=1
CURRENT_TERM=107
VOTED_FOR=1
CURRENT_TERM=108
VOTED_FOR=1
CURRENT_TERM=109
VOTED_FOR=1
CURRENT_TERM=110
VOTED_FOR=1
CURRENT_TERM=111
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=112
VOTED_FOR=1
CURRENT_TERM=113
VOTED_FOR=1
CURRENT_TERM=114
VOTED_FOR=1
CURRENT_TERM=115
VOTED_FOR=1
CURRENT_TERM=116
VOTED_FOR=1
CURRENT_TERM=117
VOTED_FOR=1
CURRENT_TERM=118
VOTED_FOR=1
CURRENT_TERM=119
VOTED_FOR=1
CURRENT_TERM=120
VOTED_FOR=1
CURRENT_TERM=121
VOTED_FOR=1
CURRENT_TERM=122
VOTED_FOR=1
CURRENT_TERM=123
VOTED_FOR=1
CURRENT_TERM=124
VOTED_FOR=1
CURRENT_TERM=125
VOTED_FOR=1
CURRENT_TERM=126
VOTED_FOR=1
CURRENT_TERM=127
VOTED_FOR=1
CURRENT_TERM=128
VOTED_FOR=1
CURRENT_TERM=129
VOTED_FOR=1
CURRENT_TERM=130
VOTED_FOR=1
CURRENT_TERM=131
VOTED_FOR=1
CURRENT_TERM=132
VOTED_FOR=1
CURRENT_TERM=133
VOTED_FOR=1
CURRENT_TERM=134
VOTED_FOR=1
CURRENT_TERM=135
VOTED_FOR=1
CURRENT_TERM=136
VOTED_FOR=1
CURRENT_TERM=137
VOTED_FOR=1
CURRENT_TERM=138
VOTED_FOR=1
CURRENT_TERM=139
VOTED_FOR=1
CURRENT_TERM=140
VOTED_FOR=1
CURRENT_TERM=141
VOTED_FOR=1
CURRENT_TERM=142
VOTED_FOR=1
CURRENT_TERM=143
VOTED_FOR=1
CURRENT_TERM=144
VOTED_FOR=1
CURRENT_TERM=145
VOTED_FOR=1
CURRENT_TERM=146
VOTED_FOR=1
CURRENT_TERM=147
VOTED_FOR=1
CURRENT_TERM=148
VOTED_FOR=1
CURRENT_TERM=149
VOTED_FOR=1
CURRENT_TERM=150
VOTED_FOR=1
CURRENT_TERM=151
VOTED_FOR=1
CURRENT_TERM=152
VOTED_FOR=1
CURRENT_TERM=153
VOTED_FOR=1
CURRENT_TERM=154
VOTED_FOR=1
CURRENT_TERM=155
VOTED_FOR=1
CURRENT_TERM=156
VOTED_FOR=1
CURRENT_TERM=157
VOTED_FOR=1
CURRENT_TERM=158
VOTED_FOR=1
CURRENT_TERM=159
VOTED_FOR=1
CURRENT_TERM=160
VOTED_FOR=1
CURRENT_TERM=161
VOTED_FOR=1
CURRENT_TERM=162
VOTED_FOR=1
CURRENT_TERM=163
VOTED_FOR=1
CURRENT_TERM=164
VOTED_FOR=1
CURRENT_TERM=165
VOTED_FOR=1
CURRENT_TERM=166
VOTED_FOR=1
CURRENT_TERM=167
VOTED_FOR=1
CURRENT_TERM=168
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=169
VOTED_FOR=1
CURRENT_TERM=170
VOTED_FOR=1
CURRENT_TERM=171
VOTED_FOR=1
CURRENT_TERM=172
VOTED_FOR=1
CURRENT_TERM=173
VOTED_FOR=1
CURRENT_TERM=174
VOTED_FOR=1
CURRENT_TERM=175
VOTED_FOR=1
CURRENT_TERM=176
VOTED_FOR=1
CURRENT_TERM=177
VOTED_FOR=1
CURRENT_TERM=178
VOTED_FOR=1
CURRENT_TERM=179
VOTED_FOR=1
CURRENT_TERM=180
VOTED_FOR=1
CURRENT_TERM=181
VOTED_FOR=1
CURRENT_TERM=182
VOTED_FOR=1
CURRENT_TERM=183
VOTED_FOR=1
CURRENT_TERM=184
VOTED_FOR=1
CURRENT_TERM=185
VOTED_FOR=1
CURRENT_TERM=186
VOTED_FOR=1
CURRENT_TERM=187
VOTED_FOR=1
CURRENT_TERM=188
VOTED_FOR=1
CURRENT_TERM=189
VOTED_FOR=1
CURRENT_TERM=190
VOTED_FOR=1
CURRENT_TERM=191
VOTED_FOR=1
CURRENT_TERM=192
VOTED_FOR=1
CURRENT_TERM=193
VOTED_FOR=1
CURRENT_TERM=194
VOTED_FOR=1
CURRENT_TERM=195
VOTED_FOR=1
CURRENT_TERM=196
VOTED_FOR=1
CURRENT_TERM=197
VOTED_FOR=1
CURRENT_TERM=198
VOTED_FOR=1
CURRENT_TERM=199
VOTED_FOR=1
CURRENT_TERM=200
VOTED_FOR=1
CURRENT_TERM=201
VOTED_FOR=1
CURRENT_TERM=202
VOTED_FOR=1
CURRENT_TERM=203
VOTED_FOR=1
CURRENT_TERM=204
VOTED_FOR=1
CURRENT_TERM=205
VOTED_FOR=1
CURRENT_TERM=206
VOTED_FOR=1
CURRENT_TERM=207
VOTED_FOR=1
CURRENT_TERM=208
VOTED_FOR=1
CURRENT_TERM=209
VOTED_FOR=1
CURRENT_TERM=210
VOTED_FOR=1
CURRENT_TERM=211
VOTED_FOR=1
CURRENT_TERM=212
VOTED_FOR=1
CURRENT_TERM=213
VOTED_FOR=1
CURRENT_TERM=214
VOTED_FOR=1
CURRENT_TERM=215
VOTED_FOR=1
CURRENT_TERM=216
VOTED_FOR=1
CURRENT_TERM=217
VOTED_FOR=1
CURRENT_TERM=218
VOTED_FOR=1
CURRENT_TERM=219
VOTED_FOR=1
CURRENT_TERM=220
VOTED_FOR=1
CURRENT_TERM=221
VOTED_FOR=1
CURRENT_TERM=222
VOTED_FOR=1
CURRENT_TERM=223
VOTED_FOR=1
CURRENT_TERM=224
VOTED_FOR=1
CURRENT_TERM=225
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=226
VOTED_FOR=1
CURRENT_TERM=227
VOTED_FOR=1
CURRENT_TERM=228
VOTED_FOR=1
CURRENT_TERM=229
VOTED_FOR=1
CURRENT_TERM=230
VOTED_FOR=1
CURRENT_TERM=231
VOTED_FOR=1
CURRENT_TERM=232
VOTED_FOR=1
CURRENT_TERM=233
VOTED_FOR=1
CURRENT_TERM=234
VOTED_FOR=1
CURRENT_TERM=235
VOTED_FOR=1
CURRENT_TERM=236
VOTED_FOR=1
CURRENT_TERM=237
VOTED_FOR=1
CURRENT_TERM=238
VOTED_FOR=1
CURRENT_TERM=239
VOTED_FOR=1
CURRENT_TERM=240
VOTED_FOR=1
CURRENT_TERM=241
VOTED_FOR=1
CURRENT_TERM=242
VOTED_FOR=1
CURRENT_TERM=243
VOTED_FOR=1
CURRENT_TERM=244
VOTED_FOR=1
CURRENT_TERM=245
VOTED_FOR=1
CURRENT_TERM=246
VOTED_FOR=1
CURRENT_TERM=247
VOTED_FOR=1
CURRENT_TERM=248
VOTED_FOR=1
CURRENT_TERM=249
VOTED_FOR=1
CURRENT_TERM=250
VOTED_FOR=1
CURRENT_TERM=251
VOTED_FOR=1
CURRENT_TERM=252
VOTED_FOR=1
CURRENT_TERM=253
VOTED_FOR=1
CURRENT_TERM=254
VOTED_FOR=1
CURRENT_TERM=255
VOTED_FOR=1
CURRENT_TERM=256
VOTED_FOR=1
CURRENT_TERM=257
VOTED_FOR=1
CURRENT_TERM=258
VOTED_FOR=1
CURRENT_TERM=259
VOTED_FOR=1
CURRENT_TERM=260
VOTED_FOR=1
CURRENT_TERM=261
VOTED_FOR=1
CURRENT_TERM=262
VOTED_FOR=1
CURRENT_TERM=263
VOTED_FOR=1
CURRENT_TERM=264
VOTED_FOR=1
CURRENT_TERM=265
VOTED_FOR=1
CURRENT_TERM=266
VOTED_FOR=1
CURRENT_TERM=267
VOTED_FOR=1
CURRENT_TERM=268
VOTED_FOR=1
CURRENT_TERM=269
VOTED_FOR=1
CURRENT_TERM=270
VOTED_FOR=1
CURRENT_TERM=271
VOTED_FOR=1
CURRENT_TERM=272
VOTED_FOR=1
CURRENT_TERM=273
VOTED_FOR=1
CURRENT_TERM=274
VOTED_FOR=1
CURRENT_TERM=275
VOTED_FOR=1
CURRENT_TERM=276
VOTED_FOR=1
CURRENT_TERM=277
VOTED_FOR=1
CURRENT_TERM=278
VOTED_FOR=1
CURRENT_TERM=279
VOTED_FOR=1
CURRENT_TERM=280
VOTED_FOR=1
CURRENT_TERM=281
VOTED_FOR=1
CURRENT_TERM=282
VOTED_FOR=1
CURRENT_TERM=283
VOTED_FOR=1
CURRENT_TERM=284
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=285
VOTED_FOR=1
CURRENT_TERM=286
VOTED_FOR=1
CURRENT_TERM=287
VOTED_FOR=1
CURRENT_TERM=288
VOTED_FOR=1
CURRENT_TERM=289
VOTED_FOR=1
CURRENT_TERM=290
VOTED_FOR=1
CURRENT_TERM=291
VOTED_FOR=1
CURRENT_TERM=292
VOTED_FOR=1
CURRENT_TERM=293
VOTED_FOR=1
CURRENT_TERM=294
VOTED_FOR=1
CURRENT_TERM=295
VOTED_FOR=1
CURRENT_TERM=296
VOTED_FOR=1
CURRENT_TERM=297
VOTED_FOR=1
CURRENT_TERM=298
VOTED_FOR=1
CURRENT_TERM=299
VOTED_FOR=1
CURRENT_TERM=300
VOTED_FOR=1
CURRENT_TERM=301
VOTED_FOR=1
CURRENT_TERM=302
VOTED_FOR=1
CURRENT_TERM=303
VOTED_FOR=1
CURRENT_TERM=304
VOTED_FOR=1
CURRENT_TERM=305
VOTED_FOR=1
CURRENT_TERM=306
VOTED_FOR=1
CURRENT_TERM=307
VOTED_FOR=1
CURRENT_TERM=308
VOTED_FOR=1
CURRENT_TERM=309
VOTED_FOR=1
CURRENT_TERM=310
VOTED_FOR=1
CURRENT_TERM=311
VOTED_FOR=1
CURRENT_TERM=312
VOTED_FOR=1
CURRENT_TERM=313
VOTED_FOR=1
CURRENT_TERM=314
VOTED_FOR=1
CURRENT_TERM=315
VOTED_FOR=1
CURRENT_TERM=316
VOTED_FOR=1
CURRENT_TERM=317
VOTED_FOR=1
CURRENT_TERM=318
VOTED_FOR=1
CURRENT_TERM=319
VOTED_FOR=1
CURRENT_TERM=320
VOTED_FOR=1
CURRENT_TERM=321
VOTED_FOR=1
CURRENT_TERM=322
VOTED_FOR=1
CURRENT_TERM=323
VOTED_FOR=1
CURRENT_TERM=324
VOTED_FOR=1
CURRENT_TERM=325
VOTED_FOR=1
CURRENT_TERM=326
VOTED_FOR=1
CURRENT_TERM=327
VOTED_FOR=1
CURRENT_TERM=328
VOTED_FOR=1
CURRENT_TERM=329
VOTED_FOR=1
CURRENT_TERM=330
VOTED_FOR=1
CURRENT_TERM=331
VOTED_FOR=1
CURRENT_TERM=332
VOTED_FOR=1
CURRENT_TERM=333
VOTED_FOR=1
CURRENT_TERM=334
VOTED_FOR=1
CURRENT_TERM=335
VOTED_FOR=1
CURRENT_TERM=336
VOTED_FOR=1
CURRENT_TERM=337
VOTED_FOR=1
CURRENT_TERM=338
VOTED_FOR=1
CURRENT_TERM=339
VOTED_FOR=1
CURRENT_TERM=340
VOTED_FOR=1
CURRENT_TERM=341
VOTED_FOR=1
NUM_SERVERS=3
CURRENT_TERM=342
VOTED_FOR=0
CURRENT_TERM=343
VOTED_FOR=0
CURRENT_TERM=344
VOTED_FOR=0
CURRENT_TERM=345
VOTED_FOR=0
CURRENT_TERM=346
VOTED_FOR=0
CURRENT_TERM=347
VOTED_FOR=0
CURRENT_TERM=348
VOTED_FOR=0
CURRENT_TERM=349
VOTED_FOR=0
CURRENT_TERM=350
VOTED_FOR=0
CURRENT_TERM=351
VOTED_FOR=0
CURRENT_TERM=352
VOTED_FOR=0
CURRENT_TERM=353
VOTED_FOR=0
CURRENT_TERM=354
VOTED_FOR=0
CURRENT_TERM=355
VOTED_FOR=0
CURRENT_TERM=356
VOTED_FOR=0
CURRENT_TERM=357
VOTED_FOR=0
CURRENT_TERM=358
VOTED_FOR=0
CURRENT_TERM=359
VOTED_FOR=0
CURRENT_TERM=361
VOTED_FOR=2
CURRENT_TERM=362
VOTED_FOR=0
CURRENT_TERM=363
VOTED_FOR=0
CURRENT_TERM=364
VOTED_FOR=2
CURRENT_TERM=365
VOTED_FOR=0
CURRENT_TERM=366
VOTED_FOR=0
CURRENT_TERM=367
VOTED_FOR=2
CURRENT_TERM=368
VOTED_FOR=0
CURRENT_TERM=369
VOTED_FOR=0
CURRENT_TERM=370
VOTED_FOR=2
CURRENT_TERM=371
VOTED_FOR=0
CURRENT_TERM=372
VOTED_FOR=0
CURRENT_TERM=373
VOTED_FOR=2
CURRENT_TERM=374
VOTED_FOR=0
CURRENT_TERM=375
VOTED_FOR=0
CURRENT_TERM=376
VOTED_FOR=2
CURRENT_TERM=377
VOTED_FOR=0
CURRENT_TERM=378
VOTED_FOR=0
CURRENT_TERM=379
VOTED_FOR=2
CURRENT_TERM=380
VOTED_FOR=0
CURRENT_TERM=381
VOTED_FOR=0
CURRENT_TERM=382
VOTED_FOR=2
CURRENT_TERM=383
VOTED_FOR=0
CURRENT_TERM=384
VOTED_FOR=0
CURRENT_TERM=385
VOTED_FOR=0
CURRENT_TERM=386
VOTED_FOR=0
CURRENT_TERM=387
VOTED_FOR=3
CURRENT_TERM=388
VOTED_FOR=0
CURRENT_TERM=389
VOTED_FOR=0
CURRENT_TERM=390
VOTED_FOR=3
CURRENT_TERM=391
VOTED_FOR=0
CURRENT_TERM=392
VOTED_FOR=0
CURRENT_TERM=393
VOTED_FOR=2
CURRENT_TERM=394
VOTED_FOR=0
CURRENT_TERM=395
VOTED_FOR=0
CURRENT_TERM=396
VOTED_FOR=3
CURRENT_TERM=397
VOTED_FOR=0
CURRENT_TERM=398
VOTED_FOR=0
CURRENT_TERM=399
VOTED_FOR=3
CURRENT_TERM=400
VOTED_FOR=0
CURRENT_TERM=402
VOTED_FOR=3
CURRENT_TERM=403
VOTED_FOR=0
CURRENT_TERM=404
VOTED_FOR=0
CURRENT_TERM=405
VOTED_FOR=0
CURRENT_TERM=406
VOTED_FOR=0
CURRENT_TERM=407
VOTED_FOR=3
CURRENT_TERM=408
VOTED_FOR=0
CURRENT_TERM=409
VOTED_FOR=0
CURRENT_TERM=410
VOTED_FOR=3
CURRENT_TERM=411
VOTED_FOR=0
CURRENT_TERM=412
VOTED_FOR=0
CURRENT_TERM=413
VOTED_FOR=3
CURRENT_TERM=414
VOTED_FOR=0
CURRENT_TERM=415
VOTED_FOR=0
CURRENT_TERM=416
VOTED_FOR=3
CURRENT_TERM=417
VOTED_FOR=0
CURRENT_TERM=418
VOTED_FOR=0
CURRENT_TERM=419
VOTED_FOR=3
CURRENT_TERM=420
VOTED_FOR=0
CURRENT_TERM=421
VOTED_FOR=0
CURRENT_TERM=422
VOTED_FOR=2
CURRENT_TERM=423
VOTED_FOR=0
CURRENT_TERM=425
VOTED_FOR=0
