CURRENT_TERM=1
VOTED_FOR=1
NUM_SERVERS=5
NUM_SERVERS=3
CURRENT_TERM=2
VOTED_FOR=1
CURRENT_TERM=3
VOTED_FOR=0
CURRENT_TERM=4
VOTED_FOR=3
CURRENT_TERM=5
VOTED_FOR=0
CURRENT_TERM=6
VOTED_FOR=0
CURRENT_TERM=7
VOTED_FOR=1
CURRENT_TERM=8
VOTED_FOR=0
CURRENT_TERM=9
VOTED_FOR=0
CURRENT_TERM=10
VOTED_FOR=0
CURRENT_TERM=11
VOTED_FOR=0
CURRENT_TERM=22
VOTED_FOR=3
CURRENT_TERM=23
VOTED_FOR=0
CURRENT_TERM=24
VOTED_FOR=0
CURRENT_TERM=25
VOTED_FOR=0
CURRENT_TERM=26
VOTED_FOR=0
CURRENT_TERM=27
VOTED_FOR=0
CURRENT_TERM=28
VOTED_FOR=0
CURRENT_TERM=29
VOTED_FOR=0
CURRENT_TERM=30
VOTED_FOR=0
CURRENT_TERM=31
VOTED_FOR=0
CURRENT_TERM=32
VOTED_FOR=0
CURRENT_TERM=33
VOTED_FOR=0
CURRENT_TERM=34
VOTED_FOR=0
