CURRENT_TERM=1
VOTED_FOR=1
NUM_SERVERS=5
NUM_SERVERS=3
CURRENT_TERM=861
VOTED_FOR=0
CURRENT_TERM=862
VOTED_FOR=0
CURRENT_TERM=863
VOTED_FOR=0
CURRENT_TERM=863
VOTED_FOR=2
CURRENT_TERM=864
VOTED_FOR=0
CURRENT_TERM=865
VOTED_FOR=3
CURRENT_TERM=866
VOTED_FOR=0
CURRENT_TERM=867
VOTED_FOR=0
CURRENT_TERM=868
VOTED_FOR=3
CURRENT_TERM=869
VOTED_FOR=0
CURRENT_TERM=870
VOTED_FOR=0
CURRENT_TERM=871
VOTED_FOR=3
CURRENT_TERM=872
VOTED_FOR=0
CURRENT_TERM=873
VOTED_FOR=3
CURRENT_TERM=874
VOTED_FOR=0
CURRENT_TERM=875
VOTED_FOR=1
CURRENT_TERM=876
VOTED_FOR=0
CURRENT_TERM=877
VOTED_FOR=0
CURRENT_TERM=878
VOTED_FOR=1
CURRENT_TERM=879
VOTED_FOR=0
CURRENT_TERM=880
VOTED_FOR=1
CURRENT_TERM=881
VOTED_FOR=0
CURRENT_TERM=882
VOTED_FOR=3
CURRENT_TERM=883
VOTED_FOR=0
CURRENT_TERM=884
VOTED_FOR=0
CURRENT_TERM=885
VOTED_FOR=1
CURRENT_TERM=886
VOTED_FOR=0
CURRENT_TERM=887
VOTED_FOR=1
CURRENT_TERM=888
VOTED_FOR=0
