CURRENT_TERM=1
VOTED_FOR=1
NUM_SERVERS=5
NUM_SERVERS=3
CURRENT_TERM=870
VOTED_FOR=0
NUM_SERVERS=3
CURRENT_TERM=871
VOTED_FOR=0
CURRENT_TERM=872
VOTED_FOR=0
CURRENT_TERM=873
VOTED_FOR=0
CURRENT_TERM=874
VOTED_FOR=0
CURRENT_TERM=875
VOTED_FOR=0
CURRENT_TERM=876
VOTED_FOR=0
CURRENT_TERM=877
VOTED_FOR=0
CURRENT_TERM=878
VOTED_FOR=0
CURRENT_TERM=879
VOTED_FOR=0
CURRENT_TERM=880
VOTED_FOR=0
CURRENT_TERM=881
VOTED_FOR=0
CURRENT_TERM=882
VOTED_FOR=0
CURRENT_TERM=883
VOTED_FOR=0
CURRENT_TERM=884
VOTED_FOR=0
CURRENT_TERM=885
VOTED_FOR=0
CURRENT_TERM=886
VOTED_FOR=0
CURRENT_TERM=887
VOTED_FOR=0
CURRENT_TERM=888
VOTED_FOR=0
CURRENT_TERM=889
VOTED_FOR=0
CURRENT_TERM=890
VOTED_FOR=0
CURRENT_TERM=891
VOTED_FOR=0
CURRENT_TERM=892
VOTED_FOR=0
CURRENT_TERM=893
VOTED_FOR=0
CURRENT_TERM=894
VOTED_FOR=0
CURRENT_TERM=895
VOTED_FOR=0
CURRENT_TERM=896
VOTED_FOR=0
NUM_SERVERS=3
CURRENT_TERM=897
VOTED_FOR=0
CURRENT_TERM=898
VOTED_FOR=0
